.modal-dialog {
    width: 500px;
}

.modal-content {
    background: rgb(0, 0, 0,0);
    border: none;
    box-shadow:none;
}


.item {
    background: #ddd;
    border-radius: 20px;
}

.modal-container {
    display: grid;
    gap: 10px;
    grid-template-columns: 300px 300px ;
    grid-template-rows: 480px 50px 430px auto;
    grid-template-areas: 
        "space photo comunity space" 
        "space photo comunity space" 
        "space info comunity space"
        "space muscle comunity space" 
        "space space comunity   space"
}

.box-big1 {
    grid-column: 1;
    grid-row: 1;
    background: #ffffff;
}

.box-big1 img{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width:auto;
    height:auto;
    max-width:300px;
    max-height:300px;
}
.box-big2 {
    grid-column: 1;
    grid-row: 2;
    background: orange;
    color: white;
    text-align: center
}

.box-big2-nice {
    grid-column: 1;
    grid-row: 2;
    background: pink;
    color: white;
    text-align: center
}


.box-big3 {
    grid-column: 2;
    grid-row: 1;
    background: #ffffff;
}

.box-big4 {
    grid-column: 2;
    grid-row: 2 / 4;
    background: #ffffff;
}

.modal-content{
    margin: 20px;
}

.modal-content .new{
    color: red;
    font-size: 12px;
}

.modal-content .name{
    font-size: 24px;
    font-weight: bold;
}

.modal-content .status{
    color: grey;
    font-size: 11px;
}

.modal-content .title{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}

.modal-content .subTitle{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
}

.modal-content dl{
    font-size: 12px;
} 

.modal-content dt{
    color: grey;
    float: left;
    font-weight: normal;
}

.modal-content dd{
    margin-left:120px;
    margin-bottom: 8px;
}